

<script>
$(document).ready(function() {

      $( "#select-2" ).select2({
      });

} );
</script>


<footer class="container">
      <% t = Time.current %>
      <p>&copy; Trashcooking <%= t.year() %></p>
</footer>