
<script>

$(document).ready(function() {
      $("body > div > table").DataTable();
      
      $( "#select-2" ).select2({
      });

} );
</script>

<footer class="container">
      <p><%= Time.current %></p>
      <p>&copy; Company 2016</p>
</footer>