    <h1>Rechercher une recette avec vos aliments</h1>
    
    <%= search_form_for @q do |f| %>
     <div class="form-group">
         <label for="food">Ingredients</label>
          <select id="select-2" name="q[foods_id_in][]" multiple="true" style="width: 100%;" required=true>
            <% if @foods.size > 0 %>
              <% @foods.each do |food| %>
                <option value="<%= food.id %>"><%= food.name %></option>
              <% end %>
            <% end %>
          </select>
        </div>
        <%= f.submit 'Rechercher', {class: 'btn btn-secondary'} %>
    <% end %>

