
<p id="notice"><%= notice %></p>

<h1>Liste des categories</h1>

<div class="col-lg-6">
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Nom</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td class="text-center">
        <%= link_to category do %> 
        <span class="glyphicon glyphicon-eye-open" style="color:green"></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if current_user.isadmin %>
<%= link_to 'Ajouter une categorie', new_category_path %>
<% end %>
</div>

<script>
  
  datatable = $("table").DataTable( {
      columnDefs: [ {
            "targets": -1,sortable: false
      } ]
} );
  
</script>