<p>Bienvenue <%= @email %>!</p>

<p>Vous pouvez confirmer cotre compte en cliquant sur ce liens:</p>

<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
