<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un a demandé à changer votre mot de passe. Vous pouvez le faire sur le lien suivant.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, ignorer là.</p>
<p>Votre mot de passe ne changera pas tant que vous ne cliquerpas sur le lien ci-dessus et créez un nouveau.</p>
